<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.collection_select :client_id, Client.all, :id, :name, prompt: true  %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, Invoice::STATUSES.collect { |x| [x, Invoice::STATUSES.index(x) + 1] }, {:prompt=>true} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <% if @fact_ids                           %>
    <%  @fact_ids.split(',').each do |fact| %>
        <%= f.hidden_field :fact_ids, :multiple => true, :value => fact %>
    <% end %>
  <% end %>

<% end %>
