<p id="notice"><%= notice %></p>

<h1>Listing Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Tasks</th>
      <th>Status</th>
      <th>Sent time</th>
      <th>Payed time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.client.name if invoice.client %></td>
        <td><%= Invoice::STATUSES.index(invoice.status) %></td>
        <td><%= invoice.facts.map {|x| x.id}.join(', ') %></td>
        <td><%= invoice.sent_time %></td>
        <td><%= invoice.payed_time %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
