<!DOCTYPE HTML>
<html>
<head>
  <title>Invoice</title>
  <%= stylesheet_link_tag root_url +  "/css/pdf/main.css" %>
</head>
<body>
<div id="wrapper">
  <p class="header">INVOICE</p>
  <table class="main">
    <tr>
      <td class="noborder" style="width: 85mm; text-align: left; padding-left: 4mm;">
        <%= @invoice.client.name %> <br>
        <%= @invoice.client.addr %>
      </td>
      <td colspan=3 class="noborder" style="text-align: right;">
        <%= image_tag root_url + "img/lizard_2.png" %>
      </td>
    </tr>
    <tr>
      <td class="noborder" style="text-align: left; padding-left: 4mm;">
        <b>Sergii Serogin</b>, independent freelancer<br>
        skype: lizard_komodo<br>
        email: lizard.komodo@gmail.com<br>
        phone: +38 094 951 0667
      </td>
      <td class="noborder">&nbsp;</td>
      <td class="noborder" style="width: 25mm; text-align: right; vertical-align: top;">
        <b>Date:<br>
          InvoiceID:</b>
      </td>
      <td class="noborder" style="width: 30mm; text-align: left; vertical-align: top;">
        <b><%= Date.today %><br>
          <%= @invoice.id %></b>
      </td>
    </tr>
    <tr>
      <td colspan=4 class="noborder">&nbsp;</td>
    </tr>
  </table>
  <div style="clear: both;"></div>
</div>
<table style="margin-left: 4mm;border-style: none;">
  <tr style="background:#eee;">
    <th>Activity</th>
    <th style="width:22%;">Category</th>
    <th style="width:24%;">start<br>stop</th>
    <th style="width:12%;">Duration<br>min</th>
  </tr>
  <% @total=0 %>
  <% @invoice.facts.each do |t| %>
      <%
         @start_time = t.start_time.to_time
         @end_time = t.end_time.to_time
         @dur = (@end_time-@start_time).to_i
         @total += @dur
      %>
      <tr>
        <td style="border-left-style: solid;border-left-width: 1px;border-left-color: #CCC;">
          <%= t.activity.name %>
          <%= '<br>'.html_safe + t.description if t.description %>
        </td>
        <td><%= t.activity.category.name if t.activity.category %></td>
        <td><%= @start_time.strftime '%F %T' %><br><%= @end_time.strftime '%F %T' %></td>
        <td class="dur"><%= (@dur/60).to_i %>
          <%= Time.at(@dur).utc.strftime('<br><span>%Hh %Mmin</span>').html_safe if @dur>60 %>
        </td>
      </tr>
  <% end %>
  <tr>
    <td colspan=2 class="noborder"></td>
    <td class="noborder"><b>Total time:</b></td>
    <td class="noborder"><%= (@total/60).to_i %><br>
      <%= sprintf('<br><span>%02d h %02d min</span', (@total/3600).to_i, ((@total/60)%60)).html_safe %>
    </td>
  </tr>
  <tr>
    <td colspan=2 class="noborder"></td>
    <td class="noborder">Hour rate:<br><span>(<%= @invoice.client.currency %>/hour)</span></td>
    <td class="noborder"><%= @invoice.client.rate %></td>
  </tr>
  <tr>
    <td colspan=2 style="border-style: none;"></td>
    <td style="border-style: none;"><b>Total amount:</b></td>
    <td style="border-style: none;"><%= sprintf("%.2f %s", @total * @invoice.client.rate / 3600, @invoice.client.currency) %></td>
  </tr>
</table>

</body>
</html>